<div class="frame">
  <span class="headline">add offline meditation</span>
  <form #form="ngForm" (submit)="sendMeditation($event)" class="flex">
    <mat-form-field class="fill meditation-input">
      <input
        matInput
        [(ngModel)]="date"
        name="date"
        [matDatepicker]="picker"
        [max]="today"
        placeholder="Date"
        (focus)="picker.open()"
        [disabled]="sending"
        type="text"
        readonly="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="fill meditation-input">
      <input
        matInput
        [(ngModel)]="time"
        name="time"
        placeholder="Time"
        max="120"
        type="text"
        [disabled]="sending">
      <span matSuffix>
        <mat-icon>query_builder</mat-icon>&nbsp;
      </span>
    </mat-form-field>
    <mat-form-field class="fill meditation-input">
      <input
        matInput
        [(ngModel)]="walking"
        name="walking"
        placeholder="Walking"
        min="0"
        max="240"
        type="number"
        [disabled]="sending">
    </mat-form-field>
    <mat-form-field class="fill meditation-input">
      <input
        matInput
        [(ngModel)]="sitting"
        name="sitting"
        placeholder="Sitting"
        min="0"
        max="240"
        type="number"
        [disabled]="sending">
    </mat-form-field>
    <button
      mat-mini-fab type="submit"
      [disabled]="(!sitting && !walking) || !checkTime() || sending"
    >
      <mat-icon *ngIf="!sending">send</mat-icon>
      <mat-spinner *ngIf="sending" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
    </button>
  </form>
  <span *ngIf="error" class="error-msg">{{ error }}</span>
</div>
