<mat-checkbox [(ngModel)]="activated">Show suggestions</mat-checkbox>
<mat-spinner *ngIf="activated && loading"></mat-spinner>
<div *ngIf="!loading && activated && suggestions && suggestions.questions && suggestions.questions.length > 0">
  <h3>Questions</h3>
  <mat-list>
    <div *ngFor="let question of suggestions.questions" class="question-row">
      <question-list-entry
        [question]="question"
        mode="suggestion"
      ></question-list-entry>
    </div>
  </mat-list>
</div>
<div *ngIf="!loading && activated && suggestions && suggestions.youtube && suggestions.youtube.length > 0">
  <h3>Youtube</h3>
  <table>
    <tr *ngFor="let video of suggestions.youtube">
      <td>
        <div class="thumbnail">
          <img
            [src]="video.thumbnail.url"
            [width]="video.thumbnail.width"
            [height]="video.thumbnail.height">
        </div>
      </td>
      <td *ngIf="video.videoId" class="video-info">
        <a
          [href]="'https://www.youtube.com/watch?v=' + video.videoId"
          target="_BLANK">
          {{ video.title }}
        </a>
        <p>{{ video.description }}</p>
      </td>
    </tr>
  </table>
</div>
