.testimonial-form > div
  margin-top: 20px

.testimonial-form textarea
  width: 100%
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

.info-msg
  padding-top: 20px

mat-card
  flex-shrink: 0

.testimonials
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

.testimonial-input
  margin-right: 10px

.emoji-btn
  margin-right: 10px
  margin-top: 15px
  cursor: pointer

.testimonial-divider
  margin-right: -5px
  margin-left: -5px

.testimonials>div:last-child .testimonial-divider
  display: none
