<div *ngIf="loading" class="loader">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!loading && !meeting">
  <mat-icon>access_time</mat-icon>
  <p>No appointment scheduled for you right now</p>
</mat-card>

<mat-card *ngIf="!loading && meeting && !meeting.initiated">
  <p>By clicking on "initate" you can start the appointment meeting.</p>
  <button
    mat-raised-button
    color="primary"
    style="min-width: 200px;"
    [disabled]="loadingInitiate"
    (click)="initiate()"
  >
    <mat-spinner
      *ngIf="loadingInitiate"
      [diameter]="22"
      [strokeWidth]="2"
      class="in-button-spinner">
    </mat-spinner>
    Initiate
  </button>

  <p class="error" *ngIf="initiateError">
    An unexpected error occurred. Please try again or make a manual Hangouts call as described in the wiki if this error persists.
  </p>
</mat-card>

<mat-card *ngIf="!loading && meeting && meeting.initiated">
    <div>Please use Google Hangouts to initiate the appointment. If the button does not work, please make the call directly via email address (yuttadhammo@gmail.com).</div>
    <div id="hangout-button"></div>
</mat-card>
